{% block body %}

    <style>
        .example-wrapper { margin: auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #d2959b; padding: 2px 6px; }
    </style>

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="form">
        <div class="form-group"> {{ form_row(form.date) }} </div>
        <div class="form-group"> {{ form_row(form.encadrer) }} </div>
        <div class="form-group"> {{ form_row(form.raporteur) }} </div>
        <div class="form-group"> {{ form_row(form.president) }} </div>
        <div class="form-group"> {{ form_row(form.etudiant) }} </div>
        <div class="col" id="some-custom-id">
            <button class="btn btn-default " style="background: #d2959b">{{ button_label|default('Ajouter soutenance') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}