{% extends 'base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: auto; max-width: 900px; width: 200%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    thead {color:indianred;}
    tbody {color:black;}
    tfoot {color:red;}
</style>

<div class="example-wrapper">

    <div class="dashboard-headline">
    <div class="table-responsive ">
        <table class="table table-shopping">

        <thead>
        <tr>
            <th class="form-check">Document</th>
            <th class="form-check">DateDepos</th>
            <th class="form-check"> </th>
            <th class="form-check"> </th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td class="form-check">{{ admin.document }}</td>
                <td class="form-check">{{ admin.dateDepos ? admin.dateDepos|date('Y-m-d ') : '' }}</td>
                <td class="form-check">{{ admin.personne }}</td>
                <td class="form-check">
                    <a href="{{ path('admin_show', {'id': admin.id}) }}"class="glyphicon glyphicon-list"></a>
                    <a href="{{ path('admin_edit', {'id': admin.id}) }}"class="glyphicon glyphicon-edit"></a>
                    <a>{{ include('admin/_delete_form.html.twig') }}    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>
        <a href="{{ path('admin_new') }}"class="btn btn-default " style="background: #d2959b">Ajouter un dossier</a>
    </div>
</div>



{% endblock %}
