{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        thead {color:indianred;}
        tbody {color:black;}
        tfoot {color:red;}
    </style>

    <div class="wrapper">
        <div class="dashboard-headline">

            <div class="example-wrapper col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading center">
                        Rapport PDS
                    </div>
                    <div class="panel-body">
                        <a  href="{{ path('rapport_index') }}">Liste Rapport PDS</a>
                    </div>
                </div>
            </div>

            <div class="example-wrapper col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading center">
                        Rapport PPE
                    </div>
                    <div class="panel-body">
                        <a  href="{{ path('rapport_index') }}">Liste Rapport PPE</a>
                    </div>
                </div>
            </div>

            <div class="example-wrapper col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading center">
                        Rapport PFE
                    </div>
                    <div class="panel-body">
                        <a  href="{{ path('rapport_index') }}">Liste Rapport PFE</a>
                    </div>
                </div>
            </div>

            <div class="example-wrapper col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading center">
                        Document
                    </div>
                    <div class="panel-body">
                        <a  href="{{ path('admin_document') }}">Voir les document </a>
                    </div>
                </div>
            </div>

            <div class="example-wrapper col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading center">
                        Document
                    </div>
                    <div class="panel-body">
                        <a  href="{{ path('soutenance_date') }}">Voir les date de soutenances </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
