<div class="form-group">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-row">
        <div class="col">
            <button class="btn">{{ button_label|default('Ajout') }}</button>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <button class="btn">{{ button_label|default('Annuler') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>

